<form (ngSubmit)="handleSubmit()">
  <div>
      <label for="title">Title</label>
      <input type="text" name="title" id="title" [(ngModel)]="movie.title">
  </div>
  <div>
      <label for="released">Released</label>
      <input type="date" name="released" id="released" [(ngModel)]="movie.released">
  </div>
  <div>
      <label for="duration">Duration</label>
      <input type="number" name="duration" id="duration" [(ngModel)]="movie.duration">
  </div>
  <div>
      <label for="content">Content</label>
      <textarea name="content" id="content" [(ngModel)]="movie.content"></textarea>
  </div>
  <button>Submit</button>
</form>



